///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

$global-color-main: #3d98ec;
$global-color-muted: #aaa;
$global-color: #fff;
// $global-bgcolor: #19202c;
$global-bgcolor: #26344d;
$global-font-family: 'Roboto', sans-serif;
