.o-modal {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

	.o-modal__content {		
		position: absolute;
		margin-top: auto;
		left: 0;
		bottom: 0;
		right: 0;
		color: white;
		// box-shadow: 0px -50px 0px 50px $global-bgcolor;
	}