.c-toggle-group {
	display: table;
	width: 100%;
	table-layout: fixed;
	border: 1px solid $global-color-main;
	border-radius: 25px;
	overflow: hidden;
}

.c-toggle-group__wrapper {
	display: table-row;
}

.c-toggle-group__btn {
	display: table-cell;
	text-align: center;
	
}

.c-toggle-group__label {
	display: inline-block;
	width: 100%;
	padding: 8px 0px;
	border-radius: 9999px;
}

.c-toggle-group__label::before {
	content: '';
}

.c-toggle-group__input {
	appearance: none;
	display: none;
}

.c-toggle-group__input:checked {
	& ~ .c-toggle-group__label {
		background-color: $global-color-main;
	}
}
