.c-btn {
	border: 1px solid $global-color-main;
	border-radius: 9999px;
	background-color: transparent;
	color: $global-color;
	overflow: hidden;
	transition: $global-transition;
}

.c-btn:focus {
	outline: none;
}

.c-btn--primary {
	background-color: $global-color-main;
}

.c-btn-filter, .c-btn-back, .c-btn-close, .c-btn-save {
	@extend .c-btn;
	width: 50px;
	height: 50px;
	display: block;	
	background-size: 50% 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.c-btn-filter, .c-btn-back {
	position: fixed;
}

.c-btn-filter {
	@extend .c-btn--primary;
	background-image: url('/icons/sliders.svg');
	right: $inuit-global-spacing-unit;
	bottom: $inuit-global-spacing-unit;
}

.c-btn-back {
	border-color: $global-color;
	color: $global-color;
	background-color: transparent;
	background-image: url('/icons/left-arrow.svg');
	top: $inuit-global-spacing-unit;
	left: $inuit-global-spacing-unit;
}

.c-btn-close, .c-btn-save {
	@extend .c-btn--primary;
	margin-left: auto;
	margin-right: 0;
	background-size: 30%;
}

.c-btn-close {
	background-image: url('/icons/cross-sym.svg');
}

.c-btn-save {
	background-image: url('/icons/checked.svg');
}
