.Select-input input {
	color: $global-color;
}

// .c-select__controls {
// 	@extend .c-btn;
// 	border-radius: 20px;
// 	border-bottom-left-radius: 0;
// 	border-bottom-right-radius: 0;
// 	border-bottom: none;
// 	display: table;
// 	width: 100%;
// 	padding: 6px;
// 	position: relative;
// }

// .c-select__value {
// 	display: table-cell;
// }

// .c-select__arrow {
// 	display: table-cell;
// 	background: transparent;
// 	border: none;
// 	color: #fff;
// }

// .c-select__list {
// 	@extend .c-btn;
// 	margin: 0;
// 	border-radius: 0;
// 	position: absolute;
// }

// .c-select__item {
// 	border: none;
// 	list-style: none;
// 	padding: 6px;
// }