.c-friend-card {
	@extend .o-block;
}

	.c-friend-card__img {
		@extend .o-block__img;
		border-radius: 100%;
		margin-bottom: $inuit-global-spacing-unit-tiny;
	}

	.c-friend-card__body {
		@extend .o-block__body;
		@include inuit-font-size(14px);
		margin: 0;
	}

.c-friend-card--translated:nth-child(3n+2) {
	margin-top: -$inuit-global-spacing-unit;
}

.c-friend-card--translated:nth-child(3n+1), .c-friend-card--translated:nth-child(3n+3) {
	// transform: scale(1) translate(0, 40%);
	margin-top: $inuit-global-spacing-unit;
}

.scale-appear, .scale-enter {
	transform: scale(0.4);
}

.scale-appear-active, .scale-enter-active {
	transform: scale(1.1) scale(1);
	transition: transform 500ms;
}


.scale-leave {
	transform: scale(1);
}

.scale-leave-active {
	transform: scale(0.4);
	transition: transform 500ms;
}
