.c-friend-list__title {
	text-align: center;
	padding: $inuit-global-spacing-unit-small;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.c-friend-list__content {
	margin-top: 68px;
	margin-bottom: $inuit-global-spacing-unit;
}
