.c-filter-form {
	background-color: $global-bgcolor;
	padding: $inuit-global-spacing-unit;
}

.c-filter-form__btn-close {
	@extend .c-btn-close;
}

.c-filter-form__btn-save {
	@extend .c-btn-save;
}

.c-filter-form__field {
	margin-bottom: $inuit-global-spacing-unit;
}

.c-filter-form__field-header {
	margin-bottom: $inuit-global-spacing-unit-small;
}

.up-appear, .up-enter {
	transform: translate(0, 100%);
}

.up-appear-active, .up-enter-active {
	transform: translate(0, 0);
	transition: transform 500ms;
}

.up-leave {
	transform: translate(0, 0);
}

.up-leave-active {
	transform: translate(0, 100%);
	transition: transform 500ms;
}