.c-friend-detail {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: $global-bgcolor;
}

.c-friend-detail__content {
	height: 100%;
}

.c-friend-detail__img {
	margin-bottom: $inuit-global-spacing-unit;
}


.c-friend-detail__header {
	@extend .o-wrapper;
	@include inuit-clearfix();
	margin-bottom: $inuit-global-spacing-unit;
}

	.c-friend-detail__info {
		float: left;

		* {
			margin: 0;
		}
	}

	.c-friend-detail__job {
		color: $global-color-muted;
		font-weight: 300;
	}

	.c-friend-detail__follow {
		float: right;
		height: 100%;

		font-weight: 600;
		@include inuit-font-size(18px);
		padding: 11px 38px;
	}

.c-friend-detail__summary {
	@extend .o-wrapper;
	font-style: italic;
	font-family: 'Times New Roman', serif;
}

.c-friend-detail__footer {
	@extend .o-wrapper;
	position: absolute;
	margin-top: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

	.c-friend-detail__label {
		text-transform: uppercase;
		color: $global-color-muted;
		font-weight: 300;
	}

.c-friend-detail__list {
	@include inuit-clearfix();
	margin-left: 0;
}

.c-friend-detail__item {
	float: left;
	margin-right: $inuit-global-spacing-unit;
}

.c-friend-detail__item:first-child {
	list-style: none;
}


.info-appear {
	transform: translate(100%, 0);
}

.info-appear-active {
	transform: translate(0);
	transition: transform 500ms;
}

.summary-appear {
	transform: translate(100%, 0);
}

.summary-appear-active {
	transform: translate(0);
	transition: transform 500ms;
}

.tags-appear {
	transform: translate(0, 100%);
}

.tags-appear-active {
	transform: translate(0);
	transition: transform 500ms;
}
