.c-tag {
	display: inline-block;
	margin-right: $inuit-global-spacing-unit-tiny;

	input {
		appearance: none;
		display: none;
	}

	label {
		@extend .c-btn;
		padding: 6px 20px;
		display: inline-block;
		
	}

	input:checked ~ label {
		@extend .c-btn--primary;
	}
}
